*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opasity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-out;
}
.card_size {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2vw;

}
.botton_block{
  display: flex;
  justify-content: space-between;
}

.card-title{
  font-size: 1.3rem;
  font-weight: 600;
  /* height: 50px; */
}

.btn-size{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}
.text-size{
  height: 200px;
}
.m-r-10{
  margin-right: 10px;
}